@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-stone-700 tracking-wide;
}

.btn {
  @apply text-stone-100 shadow rounded-lg py-2 px-8;
  background-color: #2e9ec3;
}

.socialIcon {
  @apply text-2xl text-[#2e9ec3] hover:text-stone-900;
}

/* Estilo padrão */
.socialIcon2 {
  font-size: 70px;
  /* Tamanho padrão para desktop */
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
  .socialIcon2 {
    font-size: 18px;
    /* Reduz um pouco para tablets */
  }
}

@media (max-width: 480px) {
  .socialIcon2 {
    font-size: 14px;
    /* Fonte menor para celulares */
  }
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

.mt-3 {
  padding: 0 100px 0 0;
  margin: 0 !important;
}

.w-screen {
  width: 100%;
}